.div1 {
    background-color: yellow;
    padding: 50px;
    border: 10px solid red;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.div2 {

    background-color: greenyellow;
    border: 10px solid red;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;


}

.ul2 {
    width: 50px;
    background-color: red;
    border: 10px solid black;
    border-radius: 20px;


}

.ul1 {
    width: 70px;
    background-color: green;
    border: 10px solid black;
    border-radius: 20PX;
}

.ul3 {
    width: 50PX;
    background-color: red;
    border: 10PX solid black;
    border-radius: 20px;

}

.div3 {
    background-color: aqua;
    padding: 20PX;
    border: 10PX dashed pink;
    border-radius: 20px;

}

.img1 {
    width: 150PX;
    height: 100PX;

}

.div4 {
    background-color: black;
    padding: 3px;
    border: 5px dashed green;
    border-radius: 20px;
}

.g1 {
    display: flex;
    gap: 20px;

}

.g1 img {
    border: 5px solid green;
    border-radius: 10px;

}